<%- include("./partials/header.ejs") %>

<div class="content bloc">
  <div class="flex-center">
    <div class="cards">
      <!-- Only render if player loads -->
      <% if(locals.hypixel){ %>
      <div class="card">
        <div class="flex-card">

          <%- include("./partials/icons/shield.ejs") %>
          <img class="headshot" src="https://crafatar.com/renders/body/<%=uuid%>" alt="<%=hypixel.username%>'s minecraft skin"> </img>

          <div class="player-stats">
            <h2 class="player-name"><%=hypixel.username%></h2>
            <% if(hypixel.rank){ %>
            <h3>[<%=hypixel.rank%>]</h3>
            <% }%>
            <p>Playtime: <%=hypixel.playtime%> hours</p>
            <p>Hypixel age: <%=hypixel.age%> years</p>
            <p>Bedwars games: <%=hypixel.bedwarsGames%></p>
            <p class="uuid">uuid: <%=uuid%></p>

          </div>
        </div>
      </div>
      <% } %>

      <!-- Always render -->
      <div class="card-controls">
        <form action="/" method="get">
          <button class="card" type="submit">Lookup another player</button>
        </form>
      </div>
    </div>
  </div>


</div>
</div>

<%- include("./partials/footer.ejs") %>