<%- include("./partials/header.ejs") %>

<div class="content bloc">
  <% if(locals.hypixel){ %>
  <!-- Only render if player loads -->
  <div class="flex-center">
    <div class="cards">
      <div class="card">
        <div class="flex-card">
          <img class="headshot" src="https://crafatar.com/renders/body/<%=uuid%>" alt="<%=hypixel.username%>'s minecraft skin" />
          <div class="player-stats">
            <h2 class="player-name">
              <!-- Show player name and rank if it exists (e.g. YOUTUBE) -->
              <% if(hypixel.rank){ %>
              [<%=hypixel.rank%>] <% }%>
              <%=hypixel.username%>
            </h2>
            <p>Playtime: <%=hypixel.playtime%> hours</p>
            <p>Account age: <%=hypixel.age%> years</p>
            <p>Bedwars games: <%=hypixel.bedwarsGames%></p>
            <p class="uuid">uuid: <%=uuid%></p>

          </div>  
        </div>
      </div>
      <% } %>

      <!-- Always render -->
      <div class="card-controls">
        <form action="/" method="get">
          <button class="card" type="submit">Lookup another player</button>
        </form>
      </div>
    </div>
  </div>


</div>
</div>

<%- include("./partials/footer.ejs") %>